.linear{
    font-family: Arial,Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #f32170, 0 0 1em #d4b4a1, 0 0 0.2em #ff6b08;
}

.card{
    border: 1px solid black;
}

.todo{
    font-size: 17px;
}