<h2 class="text-center linear">Student Form</h2>
<div class="card mb-4">
    <div class="card-body">
        <form [formGroup]="stdForm" (ngSubmit)="onAddStd()">
            <div class="form-group">
                <label for="fname"><strong>First Name</strong></label>
                <input type="text" id="fname" formControlName="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname"><strong>Last Name</strong></label>
                <input type="text" id="lname" formControlName="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email"><strong>Email</strong></label>
                <input type="text" id="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="contact"><strong>Contact</strong></label>
                <input type="text" id="contact" formControlName="contact" class="form-control">
            </div>
            <div class="text-right">
                <button class="alert-primary btn btn-outline-primary"
                [disabled]="stdForm.invalid" *ngIf="!isInEditMode"
                >Add Student</button>

                <button (click)="onUpdateStd()" 
                *ngIf="isInEditMode" [disabled]="stdForm.invalid"
                class="alert-warning btn btn-outline-warning" type="button">
                Update Student</button>
            </div>
        </form>
    </div>
</div>
